<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Contactos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.5">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body>
        <h2>Lista de Usuarios</h2>
        <table class="table" border>
            <thead>
                <tr>
                    <td colspan="3">
                        <a th:href="@{/home/add}">
                            <button type="button" class="btn btn-primary">Nuevo</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email Address</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fila:${usuario}">
                    <td th:text="${fila.name}"></td>
                    <td th:text="${fila.lastName}"></td>
                    <td th:text="${fila.email}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>