<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Contactos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.5">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body>
        <h2>Registrar nuevo Contacto</h2>
        <form action="#" method="post" th:action="@{/home/save}" th:object="${usuario}">
            <input type="hidden" th:field="*{id}" th:value="${id}"></input>
            
            <label for="name">First Name</label>
            <input type="text" th:field="*{name}" th:value="${name}"></input><br />
            
            <label for="lastName">Last Name</label>
            <input type="text" th:field="*{lastName}" th:value="${lastName}"></input><br />

            <label for="email">Email Address</label>
            <input type="text" th:field="*{email}" th:value="${email}"></input><br />
            
            <input type="submit"></input>
            <a href="#" th:href="@{/home/show}"><button>&nbsp;Cancel</button></a>
        </form>
    </body>
</html>