* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: Cascadia Code, Arial, Helvetica, sans-serif;
    font-weight: 900;
    list-style: none;
    height: 100vh;
    background-color: #1F2335;
}
body {
    height: 100%;   
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
header h1 {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    color: #82DDFF;
}
header p {
    padding-top: 20px;
    color: #82DDFF;
    width: 70%;
    font-size: 1.4rem;
    align-self: center;
    text-align: center;
}
main, #map {
    height: 100%;
}
main {
    height: 500px;
    width: auto;
    background-color: #414a4380;
}
#map{
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.296);
}