<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Empleados</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="#" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1>Empleados SENCICO</h1>
                <p>Servicio Nacional de Capacitación para la Industria de la Construcción</p>
            </div>
            <div class="row">
                <div class="col-sm-5">&nbsp;</div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <img class="card-img-top" th:src="@{https://euipo.europa.eu/tunnel-web/secure/webdav/guest/document_library/Help_images/user_area/user-area_euipo.jpg}" alt="Card image cap">
                                <h5 class="card-title">Datos del Empleado:</h5>
                            </div>
                            <div class="card-body">
                                <form action="#" method="post" th:action="@{/home/save}" th:object="${empleado}">
                                    <input type="hidden" th:field="*{gid}" th:value="${gid}"></input>

                                    <ul class="list-group list-group-flush">
                                        <div class="form-group">
                                            <label for="firstName">Nombre</label>
                                            <input type="text" th:field="*{nombre}" th:value="${nombre}" id="firstName" class="form-control" placeholder="Enter First Name">
                                        </div>

                                        <div class="form-group">
                                            <label for="lastName">Apellido Paterno</label>
                                            <input type="text" th:field="*{appaterno}" th:value="${appaterno}" id="lastName" class="form-control" placeholder="Enter Last Name">
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="lastName">Apellido Materno</label>
                                            <input type="text" th:field="*{apmaterno}" th:value="${apmaterno}" id="lastName" class="form-control" placeholder="Enter Last Name">
                                        </div>

                                        <div class="form-group">
                                            <label for="lastName">DNI</label>
                                            <input type="text" th:field="*{dni}" th:value="${dni}" id="phoneNumber" class="form-control" placeholder="Enter Last Name">
                                        </div>

                                        <div class="form-group">
                                            <label for="phoneNumber">Phone Number</label>
                                            <input type="text" th:field="*{telefono}" th:value="${telefono}" id="phoneNumber" class="form-control" placeholder="Enter Phone Number">
                                        </div>

                                        <div class="form-group">
                                            <label for="emailAddress">Email Address</label>
                                            <input type="text" th:field="*{correo}" th:value="${correo}" id="emailAddress" class="form-control" placeholder="Enter Email Address">
                                        </div>
                                    </ul>
                                    <div class="text-center">
                                        <input type="submit" class="btn btn-primary" th:value="Enviar">
                                        <button type="submit" class="btn btn-info" th:href="@{/home/show}">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">&nbsp;</div>
            </div>
        </div>
    </body>
</html>